@model IEnumerable<Resume_Portal.Models.NotifyAdmin>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolved)
            </td>
            <td>
                @Html.ActionLink("Approve Users", "AssignUsersConfirm", new { id = item.Id })
            </td>
        </tr>
    }


</table>

