<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Resume Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #fff;
        }
        a:hover {
            color: forestgreen !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (ViewBag.Role == null)
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/program-images/mittlogo.png" style="width:10vw !important" alt="" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        }
        else if (ViewBag.Role == "Admin")
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/program-images/mittlogo.png" style="width:10vw !important" alt="" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Approve User", "AssignUsers", "Home")</li>
                        <li>@Html.ActionLink("Unapprove User", "UnAssignUsers", "Home")</li>
                        <li>@Html.ActionLink("Employers", "AllEmployers", "Home")</li>
                        <li>@Html.ActionLink("Instructors", "AllInstructors", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        }
        else if (ViewBag.Role == "Employer")
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/program-images/mittlogo.png" style="width:10vw !important" alt="" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Programs", "AllPrograms", "Home")</li>
                        <li>@Html.ActionLink("Students", "AllStudents", "Home")</li>
                        <li>@Html.ActionLink("My Profile", "EmployerProfile", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        }
        else if (ViewBag.Role == "Student")
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/program-images/mittlogo.png" style="width:10vw !important" alt="" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Activities", "MyActivities", "Home")</li>
                        <li>@Html.ActionLink("ResumeHelp", "ResumeHelp", "Home")</li>
                        <li>@Html.ActionLink("Employers", "AllEmployers", "Home")</li>
                        <li>@Html.ActionLink("My Profile", "StudentProfile", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        }


        <div class="container body-content">
            @RenderBody()
        </div>
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
