@model Resume_Portal.Models.EmployerProfile

    <div>
        <img src="@ViewBag.ProfilePic" class="profilepic" />
        <span>
            @Html.ActionLink("Update Pic", "UpdateProfilePic")
        </span>
        <h4>
            @Html.ActionLink("Update Profile", "EditEmployer")
        </h4>
        <h4>
            @Html.ActionLink("Post Job", "PostJob")
        </h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.AboutUs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AboutUs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HistoryOfCompany)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HistoryOfCompany)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactUs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactUs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LookingForSkills)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LookingForSkills)
            </dd>

        </dl>
    </div>

