<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Resume Portal", "Admin", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Approve User", "AssignUsers", "Home")</li>
                <li>@Html.ActionLink("Delete User", "UnAssignUsers", "Home")</li>
                <li>@Html.ActionLink("Employers", "AllEmployers", "Home")</li>
                <li>@Html.ActionLink("Instructors", "AllInstructors", "Home")</li>
                <li>@Html.ActionLink("Programs", "AllPrograms", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
