<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/program-images/mittlogo.png" style="width:10vw !important" alt="" />
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li>@Html.ActionLink("Approve User", "AssignUsers", "Home")</li>
                <li>@Html.ActionLink("Unapprove User", "UnAssignUsers", "Home")</li>
                <li>@Html.ActionLink("Employers", "AllEmployers", "Home")</li>
                <li>@Html.ActionLink("Instructors", "AllInstructors", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
