@model IEnumerable<Resume_Portal.Models.Profile>

<<<<<<< HEAD
<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="about-us" class="clear">
            <section id="team">
                <div id="quote">
                    <blockquote>
                        <p>Program Name</p>
                    </blockquote>
                </div>
                <ul class="clear">
                    @foreach (var item in Model)
                    {

                        <li class="one_quarter first">
                            <figure>
                                <img src=@Html.DisplayFor(modelItem => item.ProfilePic) alt="Profile">
                                <figcaption>
                                    <p class="team_name">@Html.DisplayFor(modelItem => item.UserName)</p>
                                    <p class="team_description">@Html.DisplayFor(modelItem => item.ShortDiscription)</p>
                                </figcaption>
                            </figure>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
</div>
@Styles.Render("~/Content/ListProfile.css")

=======

<section>
    @foreach(var item in Model)
    {
        <div class="student">
            <img src="@item.ProfilePic"/>
            <div>
                @Html.DisplayFor(modelItem => item.UserName)
                @Html.ActionLink("Student Details", "StudentProfile")
            </div>
        </div>
    }
</section>
>>>>>>> aeac4b5a28625e17321c66332e497c149cd6f953
