@model Resume_Portal.Models.InstructorProfile

<div>
    <h4>InstructorProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinedMitt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinedMitt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfetionalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfetionalEmail)
        </dd>

    </dl>
</div>
