@model IEnumerable<Resume_Portal.Models.Job>

<p>
    @Html.ActionLink("Post New Job","PostJob", "employer" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Program.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDiscription)
        </th>
        <th>Edit | Delete</th>
        <th>All Responses</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDiscription)
        </td>
        <td>
            @Html.ActionLink("All Resumes", "AllResumeForJob",new {id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Edit-Job", "EditJob","employer", new { id = item.Id }, null) | 
            @Html.ActionLink("Delete-Job","DeleteJob","employer", new { id = item.Id }, null)

        </td>
    </tr>
}

</table>
