@model Resume_Portal.Models.CompleteStudentInfo

@{
    Layout = null;
}


<h3>
    @Html.ActionLink("Add Experience", "AddExperience")
</h3>
@if (Model.Experiances.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("InstituteName")
            </th>
            <th>
                @Html.DisplayName("Discription")
            </th>
            <th>
                @Html.DisplayName("Start")
            </th>
            <th>
                @Html.DisplayName("End")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Experiances)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstituteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteExperience", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <div>
        <p>
            No experince has been added.
        </p>
    </div>
}
