@{
    Layout = null;
}

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="~/Student/Student">
            <img class="mittlogo" src="~/program-images/mittlogo.png" alt="" />
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Activities", "MyActivities", "Student")</li>
            <li>@Html.ActionLink("ResumeHelp", "ResumeHelp", "Student")</li>
            <li>@Html.ActionLink("Employers", "AllEmployers", "Home")</li>
            <li>@Html.ActionLink("My Profile", "StudentProfile", "Student")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>
