@model Resume_Portal.Models.StudentProfile

<div>
    <div class="container">
        <div class="hero">
            <img src="@ViewBag.ImageUrl" alt="profile" />
            <h1 class="name"><strong>@Html.DisplayFor(model => model.MyName)</strong></h1>
            <span class="job-title">@Html.DisplayFor(model => model.OccupationName)</span>
            <span class="email">@Html.DisplayFor(model => model.ProfessionalEmail)</span>
            <h4 class="lead">
                @Html.DisplayFor(model => model.AboutMe)
            </h4>
        </div>
    </div>
    <div class="container">

        <div class="sections">
            <h2 class="section-title">Skills</h2>
            
            <div class="list-card">
                
            </div>
        </div>
        <div class="sections">
            <h2 class="section-title">Education</h2>

            <div class="list-card">
                
            </div>
        </div>
        <div class="sections">
            <h2 class="section-title">Experience</h2>

            <div class="list-card">
                
            </div>
        </div>
    </div>
    <section>
        <span>
            Currently in @Html.DisplayFor(model => model.SemesterNumber) semester!
            Program is from @Html.DisplayFor(model => model.StartDate)  @Html.DisplayFor(model => model.EndDate)
        </span>
        <span>
            @Html.DisplayFor(model => model.ContactInfo)
        </span>
    </section>

</div>
